body {
  background: darkgray;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

video {
  /* background: darkblue; */
  display: none;
}


button,
select,
input {
  font-size: 1.5em;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#label-result {
  color: darkred;
}